rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /remote_config/{docId} {
      allow read: if true;
      allow write: if false;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
